sdr/n8n/workflows/AI Outreach Agent (Gemini) (1).json
{
  "name": "AI Outreach Agent (Gemini)",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Regarding your inquiry about our services",
        "message": "={{ $json.candidates[0].content.parts[0].text }}",
        "options": {}
      },
      "id": "b0e79a37-2fc2-48ff-a21b-b53f22f8fd0f",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2400,
        192
      ],
      "webhookId": "bfc4e180-1990-4034-a1d8-91d96fa1a98b",
      "credentials": {
        "gmailOAuth2": {
          "id": "zKgnDX0alIMkrhzU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "New Leads",
          "cachedResultUrl": "YOUR_SPREADSHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "YOUR_SPREADSHEET_SHEET_URL"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        832,
        256
      ],
      "id": "8744445b-58ad-4a9f-8722-ad32a49e2fc3",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "5Rw0FbyhKwCjNcIs",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\" : {\n    \"parts\":[\n      {\n        \"text\":\"Lead Name:{{ $json.name }}, Lead Email:{{ $json.email }}, Lead Phone Number:{{ $json.mobile }}, Lead Message:{{ $json.message }},Available time slots if asking lead for 15 min call:slot1: {{ $json.available_slots[0] }}, slot2: {{ $json.available_slots[1] }}\\nWrite an email to the lead responding to the lead message, following the system instructions\"\n      }\n    ]\n  },\n  \"systemInstruction\": {\n    \"parts\": [\n      {\n        \"text\": \"You are an elite Sales Development Representative (SDR) for a premium content production agency called 'ABC TimePass Agency'. Your job is to reply to inbound leads, understand their needs, explain our services, and convert them into booking a discovery call.\\n\\nCOMMUNICATION STYLE:\\nBe extremely human, friendly, and professional. Never sound robotic. Emails must be short and concise (3–4 short paragraphs max). Always end with a clear call to action asking for a meeting.\\n\\nCALENDAR RULES:\\nTwo meeting slots will always be provided in the input. You MUST use those exact slots when suggesting a meeting. Never generate your own time slots.\\n\\nIDEAL CUSTOMERS:\\n• B2B SaaS companies\\n• D2C e-commerce brands\\n• Personal brands scaling past $50k/month\\n\\nCORE SERVICES:\\nFast-Track Retainer ($2,500/mo starting): 15 short-form videos + 4 LinkedIn ghostwritten posts monthly.\\n\\nFull-Scale Production ($5,000/mo starting): 4 long-form YouTube videos + editing + thumbnails + 20 short-form clips.\\n\\nAd Creative Studio ($3,500/project): 10 high-converting video ads optimized for Meta/TikTok.\\n\\nSALES RULES:\\nIf asked about pricing, only mention starting ranges and explain pricing depends on scope.\\n\\nRevisions: 2 rounds included.\\n\\nTurnaround time: 1 week strategy + 7 days for first deliverables.\\n\\nIf lead has no budget, politely explain our retainers start at $2,500/month and offer our Free DIY Content Framework Guide instead.\\n\\nFIRST EMAIL STRUCTURE:\\n1. Acknowledge what the lead said\\n2. Validate their problem\\n3. Mention the relevant service\\n4. Offer the two meeting slots\\n5. Ask them which time works\\n\\nOUTPUT RULES:\\nReturn ONLY the final email message. No explanations.\\nReturn ONLY the email body. Do NOT include Subject\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "ded741df-b657-4a06-8ddb-6ff6d9722c1e",
      "name": "Generate Email (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1952,
        192
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "YOUR_EMAIL@gmail.com",
          "mode": "list",
          "cachedResultName": "YOUR_EMAIL@gmail.com"
        },
        "options": {
          "timeZone": {
            "__rl": true,
            "value": "Asia/Kolkata",
            "mode": "list",
            "cachedResultName": "Asia/Kolkata"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1280,
        112
      ],
      "id": "72f18fb0-14db-4707-aed7-ee9b3dbb9973",
      "name": "Get many events",
      "executeOnce": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Y06qabaIGQvTtBat",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Lead details\nconst lead = items[0].json;\n\n// Calendar events\nconst events = items.slice(1).map(i => i.json);\n\nconst startHour = 9;\nconst endHour = 18;\nconst slotDuration = 30;\n\nconst busySlots = events.map(event => ({\n  start: new Date(event.start.dateTime),\n  end: new Date(event.end.dateTime)\n}));\n\nfunction isBusy(start, end) {\n  return busySlots.some(b =>\n    start < b.end && end > b.start\n  );\n}\n\nlet today = new Date();\nlet candidateSlots = [];\n\n// Check next 5 days (skip today)\nfor (let d = 1; d <= 5; d++) {\n\n  let day = new Date();\n  day.setDate(today.getDate() + d);\n  day.setHours(0,0,0,0);\n\n  for (let hour = startHour; hour < endHour; hour++) {\n\n    for (let min = 0; min < 60; min += slotDuration) {\n\n      let slotStart = new Date(day);\n      slotStart.setHours(hour, min, 0);\n\n      let slotEnd = new Date(slotStart);\n      slotEnd.setMinutes(slotStart.getMinutes() + slotDuration);\n\n      if (!isBusy(slotStart, slotEnd)) {\n\n        candidateSlots.push({\n          date: d,\n          formatted: slotStart.toLocaleString(\"en-IN\", {\n            dateStyle: \"medium\",\n            timeStyle: \"short\"\n          })\n        });\n\n      }\n\n    }\n  }\n}\n\n// Shuffle slots\ncandidateSlots.sort(() => Math.random() - 0.5);\n\n// Pick 2 slots from different days\nlet selected = [];\nlet usedDays = new Set();\n\nfor (let slot of candidateSlots) {\n  if (!usedDays.has(slot.date)) {\n    selected.push(slot.formatted);\n    usedDays.add(slot.date);\n  }\n  if (selected.length === 2) break;\n}\n\nreturn [{\n  json: {\n    name: lead.Name,\n    email: lead.Email,\n    mobile: lead.Mobile,\n    message: lead.Message,\n    available_slots: selected\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        192
      ],
      "id": "2d1600e9-66fa-4bb7-a55a-2dcc4b083e81",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1504,
        192
      ],
      "id": "c11df69f-d773-4f5b-9926-e8bfd87c387a",
      "name": "Merge"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1056,
        256
      ],
      "id": "5f2eecf3-e7b9-4ea8-93b6-1297f094efbd",
      "name": "Limit (Get Latest Lead)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2176,
        256
      ],
      "id": "ae01aef5-4363-4317-8c19-71ae93d74937",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $json.Message }}"
            },
            {
              "type": "ai",
              "message": "={{ $json.candidates[0].content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        3072,
        256
      ],
      "id": "3d537b2e-7037-46b0-ad16-46545d1acbb3",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2731a38b-268a-4e2a-aef5-cdac6cf65711",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "20062042-c52f-457e-852b-e97bc514f881",
              "leftValue": "={{ $json.labelIds }}",
              "rightValue": "\"SENT\"",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2624,
        192
      ],
      "id": "b67b4cdf-b554-4d7a-92a6-6fc9af191adf",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2848,
        256
      ],
      "id": "86b05814-f24e-4983-874e-25897a7ab801",
      "name": "Merge2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge2').item.json.threadId }}",
        "tableName": "messages"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3152,
        480
      ],
      "id": "213cf7ab-da0e-4016-8353-67d237409ce4",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "incHeEfSS9OAmmed",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Generate Email (Gemini)": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Limit (Get Latest Lead)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Generate Email (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit (Get Latest Lead)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "085bb663-f48e-4972-ae17-7e904f745af8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "912e3ec0d208498715a9ba8787509f22ad62907dbbfd073727dbab24d34518e2"
  },
  "id": "nhQOpNZho5WA8AsT",
  "tags": []
}